*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #000000;
}

.openModalBtn{
    border: none;
    outline: none;
    background-color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.popup{
    background-color: #fff;
    width: 300px;
    max-width: 100vw;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    transition: transform 0.35s;
    visibility: hidden;
}

.popup p{
    padding-block: 10px;
}

.closeModalBtn{
    background-color: green;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 16px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}

.popup_open{
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
}

@media screen and (max-width:340px) {
    .popup{
        max-width: 80vw;
    }
}